/*
 * Add your CSS styles here
 * 
 */

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #f4f4f4;
}

h1, h2, h3, {
	color: #222;
}
h4 {line-height: 24px}

p {
	line-height: 24px;
	color: #555;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.content {
	width: 940px;
	margin: 0 auto;
}
.education{
	line-height: 1px;
	color: ##222;
}
#copyright {
	margin-top: 30px;
	margin-bottom: 30px;


}
#header  {
	border-bottom: 1px solid #999;
}

#headshot {
	height :400px;
	padding-top: 22px; 
}

#nav {
	margin: 0 0 0 0;
	float: left;
	width: 267px;
	max-width: 267px;
}

#main {
	margin: none;
	float: right; 
  

 }
#resume_name {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	color: #41A1FF;

}
.under_photo {
	text-align: center;
	list-style-type: none;
	
}
.primary_blue {
	background-color: #41A1FF;
}
.secondary_blue {
	background-color: #5AAEFF;
}
.third_blue {
	background-color: #1C68B2;
}
.primary_tan {
	background-color: #FFB841;
}
.primary_rose {
	background-color:#FF645A;

}
.primary_red {
	background-color:#B2352D;
}
/* Ignore this for now, it is special code needed to fix the layout after using the "float" rules */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }